
.row {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.column {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.align-center {
    align-items: center;
}

.gap-5 {
    gap: 5px;
}
.gap-10 {
    gap: 10px;
}
.gap-15 {
    gap: 15px;
}

.center-block {
    width: 100%;
    min-height: 85vh;
    text-align: center;
}

.right-block {
    max-width: 350px;
}


/* auth */
.auth-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  flex-direction: column;
  gap: 20px;
}

mat-card.auth-card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    background-color: var(--app-card-background);

    mat-form-field {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.auth-switch {
    a {
        color: #0a66c2;
        font-weight: 500;
        text-decoration: none;
    }
}
