
@font-face {
    font-family: 'Doto';
    src: url('/fonts/Doto/Doto-VariableFont_ROND,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans';
    src: url('/fonts/Google_Sans/GoogleSans-Italic-VariableFont_GRAD,opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Google Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 400;
}

h1 {
    margin: 0;
    color: var(--app-black);
    font-size: 1.75rem;
    line-height: 1.1;
    font-weight: 400;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--app-black);
    font-weight: 400;
}

p {
    margin: 0;
}

a,
a:visited,
a:hover {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    color: var(--link-hover-color);
}