<header class="tools-header">
    <div class="tools-icon" aria-hidden="true">
        <mat-icon>build</mat-icon>
    </div>
    <h1>Outils de dev</h1>
</header>

<nav class="categories" aria-label="Filtres outils">
    @for (category of categories(); track category) {
        <button
            type="button"
            (click)="selectCategory(category)"
        >
            {{ category }}
        </button>
    }
</nav>

<div class="list-card">
    @for (tool of filteredTools(); track tool.id) {
        <a class="article" [href]="tool.url || '#'" target="_blank" rel="noopener noreferrer">
            <div class="content">
                <div style="display: flex;flex-direction: column;gap: 8px;">
                    <h2>{{ tool.name }}</h2>
                    <p class="description">{{ tool.description }}</p>
                </div>
                <!-- <p class="meta">{{ tool.toolTypeName || (toolTypes().find(t => t.id === tool.toolTypeId)?.name || '') }}</p> -->
            </div>

            @if (tool.icon) {
              <img [src]="tool.icon" [alt]="tool.name" />
            }
        </a>
    }

    @if (!filteredTools().length) {
        <div class="empty">Pas encore de contenu pour cette catégorie.</div>
    }
</div>