
:host {
  min-height: var(--min-height);
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;

  .articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    .article {
      background-color: white;
      border-radius: 8px;
      padding: 5px;
    }
  }
}