<footer>
  <div class="footer-left">
    <div class="logo">
      <img src="images/logo.png" alt="template.nicoblog.dev">
      <p>template.nicoblog.dev</p>
    </div>
    <p>Copyright &copy; 2026 Nicoblog. Tous droits réservés</p>
  </div>
  <div></div>
  <div class="footer-contact">
    <ul>
      <li>
        <a href="mailto:nicolasmarmot.dev@gmail.com" class="contact-icon">
          <img src="icons/maildotru.svg">
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/nicolas-marmot-317171161/" class="contact-icon" target="_blank" rel="noopener">
          <img src="icons/linkedin.svg">
        </a>
      </li>
      <li>
        <a href="https://www.github.com/Diuxx" class="contact-icon" target="_blank" rel="noopener">
          <img src="icons/github.svg">
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/nico.diuxx/" class="contact-icon" target="_blank" rel="noopener">
          <img src="icons/instagram.svg">
        </a>
      </li>
    </ul>
  </div>
</footer>