

:host {
  display: flex;
  border-top: var(--app-header-border);
  background-color: var(--app-header-background);
  color: var(--app-text-color);
  height: 90px;
  width: 100%;
  // margin: 0 20px 0 20px;

  footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 25px 30px;
    width: 100%;
    font-size: 0.7em;
    .footer-left {
      flex-direction: column;
      display: flex;
      gap: 5px;
      .logo {
        display: flex;
        gap: 5px;
      }
      img { width: 32px; }
      p {
        align-self: center;
        // font-weight: bold;
      }
    }
    .footer-contact {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 15px;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 18px;
        li a {
          color: var(--app-text-color);
          text-decoration: none;
          &:hover {
            color: var(--app-blue);
          }
        }
      }
    }
    .contact-icon img {
        width: 16px;
        height: 16px;
        fill: currentColor;
        stroke-width: 1.5;
    }
  }
}