

.show-btn {
  text-transform: lowercase;
}

.forgot {
  display: inline-block;
  margin: 0.5rem 0 1.5rem;
  font-size: 0.9rem;
  color: #0a66c2;
}

.primary-btn {
  width: 100%;
  height: 44px;
  border-radius: 999px;
}

.secondary-btn {
  width: 100%;
  height: 44px;
  border-radius: 999px;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
