<div class="auth-wrapper">
  <mat-card class="auth-card">
    @if (!submitted) {
      <h1 class="title">Mot de passe oublié</h1>
      <p class="subtitle">
        Réinitialiser votre mot de passe
        <!-- Enter your email and we'll send you a reset link. -->
      </p>

      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput type="email" formControlName="email" />
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          class="primary-btn"
          type="submit"
          [disabled]="form.invalid"
        >
          Envoyer
        </button>
      </form>

    } @else {
      <h1 class="title">Verifier votre boite mail</h1>
      <p class="subtitle">
        Si un compte est associé à cette adresse e-mail, un lien de réinitialisation vous sera envoyé prochainement.
      </p>
    }
  </mat-card>
  <div class="auth-switch">
    S'authentifier? <a routerLink="/auth/login">S'authentifier</a>
  </div>
</div>
