

:host {
  display: flex;
  border-bottom: var(--app-header-border);
  background-color: var(--app-header-background);
  color: var(--app-text-color);
  height: 90px;
  padding: 10px 10px 0 10px;

  .top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
  }

  nav .logo img {
    width: 35px;
    box-shadow: var(--shadow-logo);
    border-radius: 50%;
    padding: 4px;
    margin-right: 35px;
    &:hover {
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
  }
}