

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--app-header-border);
  background-color: var(--app-header-background);
  color: var(--app-text-color);
  height: 50px;
  // margin: 10px 10px 0 10px;
  padding: 0 5px;
  border-radius: 8px;

  .top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    .header-center {
      align-self: end;
    }
  }

  nav .logo img {
    width: 35px;
    box-shadow: var(--shadow-logo);
    border-radius: 50%;
    padding: 4px;
    margin-right: 35px;
    &:hover {
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
  }
}

::ng-deep nav {
  .mat-mdc-tab-link-container {
    border-bottom-style: none;
    border-bottom-width: 0;
    border-bottom-color: transparent;
  }
  .mat-mdc-tab-link {
    height: 30px;
  }
}